; Dofleini Registry
@dfl:registry=http://nexus.dofleinisoftware.com/repository/npm-local/
@dfl-nest:registry=http://nexus.dofleinisoftware.com/repository/npm-local/
@dofleini:registry=http://nexus.dofleinisoftware.com/repository/npm-local/
@dfl-ecommerce:registry=http://nexus.dofleinisoftware.com/repository/npm-local/
//nexus.dofleinisoftware.com/repository/npm-local/:_authToken=NpmToken.e2daf847-2ee3-35bd-ab5e-a506eac2e810

; NpmJS Registry
registry=https://registry.npmjs.org/

; Other Global Config
auto-install-peers=true