.container {
  position: relative;
  border-radius: 6px;
  border: 1px solid #ffedd5;
  background: #f9e2bf;
  min-height: 188px;
  overflow: hidden;
}

.container :global(.store-trust-image) {
  position: absolute;
  z-index: 0;
  right: 0;
}

.container :global(.store-trust-data) {
  @apply flex flex-col;
  padding: 10px 28px;
}

.container :global(.store-trust-title) {
  color: #e79f00;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
  max-width: 75%;
}

.container :global(.store-trust-subtitle) {
  color: #264092;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  z-index: 2;
  max-width: 65%;
}

.container :global(.store-trust-subtitle a) {
  font-weight: 700;
}

@media (min-width: 760px) {
  .container {
    min-height: 85px;
  }

  .container :global(.store-trust-image) {
    position: absolute;
    z-index: 0;
    transform: translateX(50%);
  }

  .container :global(.store-trust-title) {
    font-size: 26px;
    max-width: 650px;
  }

  .container :global(.store-trust-subtitle) {
    max-width: 650px;
  }
}

@media (min-width: 1500px) {
  .container :global(.store-trust-image) {
    transform: unset;
  }
}
