.global-search-bar {
  border-radius: 5px;
  border: none;
  overflow: hidden;
  height: 100%;
  position: relative;
  background: #e6e9ee !important;
}

.global-search-bar input {
  border-radius: 5px;
  background: transparent;
  border: none;
  overflow: hidden;
  color: #6b7280;
}

.global-search-bar input:focus {
  outline: none;
  border: none;
}

.global-search-bar .right-button {
  min-width: 50px;
  width: 50px;
  border-radius: 5px;
  box-shadow: none;
  padding: 12px;
  overflow: hidden;
}

.global-search-bar .right-button .button-content {
  height: 22px;
  width: 22px;
}

@media (min-width: 1024px) {
  .global-search-bar {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
  }

  .global-search-bar .right-button,
  .global-search-bar .right-button:hover {
    background: transparent;
    border: none;
  }

  .global-search-bar .right-button .button-content {
    @apply text-primary;
  }
}
