.container {
  min-height: 140px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(167, 195, 236, 0.25);
  padding: 0;
  @apply flex flex-col items-stretch justify-stretch sticky top-0;
    z-index: 9999;
}

.container :global(.header) {
  min-height: 80px;
  background: #fff;
  @apply flex items-center justify-between gap-0 flex-1;
}

.container :global(.username) {
  color: #2b3445;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.container :global(.menu) {
  @apply relative hidden bg-primary text-white;
}

.container :global(.menu-container) {
  @apply flex h-full w-full flex-row items-center gap-[30px];
  min-height: 48px;
}

.container :global(.menu-item:hover) {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .container {
    min-height: 150px;
    box-shadow: none;
    padding: 0;
  }

  .container :global(.header) {
    @apply gap-4;
  }

  .container :global(.username) {
    color: #2b3445;
    font-family: Inter, sans-serif;
    font-size: 33px;
    font-weight: bold;
  }

  .container :global(.menu) {
    @apply block;
  }
}
