.container {
  padding: 50px 35px 70px 35px;
  @apply relative bg-primary;
}

.container :global(.content) {
  @apply flex w-full flex-col items-center justify-center;
  padding: 0 !important;
  gap: 50px;
}

.container :global(.card) {
  @apply flex-1;
}

.container :global(.section-title) {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 123%;
  z-index: 2;
}

.container :global(.card-list) {
  @apply flex flex-col gap-5;
  z-index: 2;
  max-width: 870px;
}

.container :global(.capsule-1) {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateX(-50%) scale(0.5) rotate(90deg);
}

.container :global(.capsule-2) {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50px, -50%) scale(0.3);
}

.container :global(.capsule-3) {
  position: absolute;
  bottom: -75px;
  left: 15%;
  transform: translateX(-50%) scale(0.3) rotate(-90deg);
}

.container :global(.capsule-4) {
  position: absolute;
  bottom: 20%;
  right: -60px;
  transform: scale(0.3) rotate(-90deg);
}

@media (min-width: 1200px) {
  .container {
    padding: 40px;
    @apply justify-center;
  }

  .container :global(.section-title) {
    text-align: left;
    font-size: 42px;
    max-width: 475px;
  }

  .container :global(.card-list) {
    @apply flex-row items-stretch justify-center;
  }

  .container :global(.capsule-1) {
    top: unset;
    bottom: 0;
    left: 30%;
    transform-origin: center center;
    transform: translateY(40%) scale(0.5);
  }

  .container :global(.capsule-2) {
    top: 0;
    right: 0;
    transform-origin: center center;
    transform: translateY(-50%) scale(0.3);
  }

  .container :global(.capsule-3) {
    bottom: unset;
    top: 0;
    left: 26%;
    transform-origin: center center;
    transform: translateY(-50%) scale(0.3) rotate(-90deg);
  }

  .container :global(.capsule-4) {
    display: none;
  }
}

@media (min-width: 1500px) {
  .container {
    overflow: visible;
  }

  .container :global(.content) {
    @apply flex-row justify-between;
  }
}
